@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

.title-section-primary {
  font-weight: 600;
  font-size: 36px;
}

.title-section-primary::after {
  background-color: #E41C26;
  content: ' ';
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  height: .35rem;
  width: 50px;
}

.title-section-secondary {
  font-weight: 600;
  font-size: 36px;
}

.title-section-secondary::after {
  background-color: #FFFFFF;
  content: ' ';
  display: block;
  margin-top: 15px;
  margin-bottom: 3rem;
  height: .35rem;
  width: 50px;
}

.box-header-login {
  margin: 10px auto;
  padding: 0;
}

.box-rrss-p{
  display: flex;
  justify-content: space-evenly;
}

.icon-rrss-p {
  background-color: #7D7E7F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #FFFFFF;
  height: 40px;
  padding: 10px;
  width: 40px;
}

.icon-rrss-p :hover {
  fill: #FE3A3B;
  background-color: aqua;
}

.box-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-login {
  background-color: #FFFFFF;
  color:#2e2e2e;
}

.btn-login:hover,
.btn-login:focus {
  background-color: #FE3A3B;
  color: #FFFFFF;
  box-shadow: none;
}

.bg-header-p {
  background-color: #2e2e2e;
  padding: 20px;
}

.logo-primary {
  margin: 0;
}

.logo-primary svg{
  fill: #FFFFFF;
}

.logo-primary svg:hover {
  fill: #FE3A3B;
}

.color-link-header {
  color:#FFFFFF;
}

.color-link-header:hover {
  color: #FE3A3B;
}

header nav li:last-of-type {
  margin-left: 30px;
}

.icon-search-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 35px;
  width: 35px;
}

.icon-search-p  {
  height: 35px;
  transform: rotate(45deg);
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-search-p svg {
  transform: rotate(-45deg);
  fill: #FFFFFF;
}

.icon-search-p:hover{
  background-color: #CECFD0;
}

.icon-search-p:hover svg,
.icon-search-p:hover svg:hover{
  fill: #2e2e2e;
}

.bg-img-carrousel {
  background-image: url('../img/section-1/chillingontherooftop.png');
  position: relative;
  background-size: cover;
  background-position-y: center;
  height:565px;
}

.bg-carrousel-p {
  background: rgb(254,58,59);
  background: linear-gradient(114deg, rgba(254,58,59,1) 0%, rgba(137,31,32,0.5130427170868348) 46%, rgba(0,0,0,1) 100%);  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.bg-gradient-p {
  background-image: url('../img/section-2/bg-services.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-red-p {
  background-color: #FE3A3B;
  padding-bottom: 20px;
}

.card-services {
  padding: 0;
  margin-top: 0;
  background-image: url(../img/section-2/bg-services-card.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.card-services-title {
 padding-top: 60px;
 padding-bottom: 60px;
 font-weight: 600;
 letter-spacing: 1px;
}

.card-style-border {
  border-color: #DDDBDD; 
  border-radius: 0;
  border-top: none;
}

.icon-services {
  background-color: #FFFFFF;
  border: 4px solid #FE3A3B;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: -10px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #FE3A3B;
}

.icon-services:hover {
  background-color:#FE3A3B;
  border-color: #FFFFFF;
}

.icon-services:hover svg,
.icon-services:hover svg:hover {
  fill: #FFFFFF;
}

.text-services {
  padding: 30px 20px 50px 20px;
}

.card-about {
  border: none;
}

.card-figure-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}

.diamond {
  border-style: solid;
  border-width: 1px;
  height: 120px;
  transform: rotate(45deg);
  width: 120px;
}

.diamond-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
}

.diamond span {
  transform: rotate(-45deg);
}

.diamond-left,
.diamond-right {
  position: absolute;
  display: inline-block;
}

.diamond-left {
  border-color: #7D7E7F;
  margin-left: 10px;
}

.diamond-right {
  border-color: #7D7E7F;
  margin-left: -10px;
}

.diamond-center {
  align-items: center;
  border-color: transparent;
  display: flex;
  height: 105px;
  justify-content: center;
  width: 105px;
}

.diamond-center svg {
  fill: #FE3A3B;
}

.diamond-center:hover {
  background-color: #FE3A3B;
}

.diamond-center:hover svg {
  fill: white;
}

.bg-gray-p {
  background-color: #F2F2F3;
  padding-bottom: 50px;
}

.bg-gradient-black-p {
  background: rgb(50,113,139);
  background: linear-gradient(90deg, rgba(50,113,139,1) 0%, rgba(0,0,0,1) 25%, rgba(61,61,61,1) 68%, rgba(153,153,153,1) 100%);
  padding: 50px 0;
}

.bg-tab-chips {
  background-color: #FE3A3B;
  border-radius: 0.25rem ;
  margin: 0 5px;
}

.bg-tab-chips:hover {
  background-color: #3BB840;
}

.tab-chips-text {
  color: #FFFFFF;
}

.tab-chips-text:hover {
  color: #FFFFFF;
}

/*  esta regla modifica el modo :active de los chips en el tab*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #3BB840;
}

.card-pricing {
  border: 2px solid #CECFD0;
  border-radius: 0px;
  transition-duration: 0.5s;
}

.card-pricing:hover {
  border: 2px solid #FE3A3B;
  transform: scale(1.05);
}

.card-pricing:hover .title-pricing {
  color: #FFFFFF;
  background-color: #FE3A3B;
  border-radius: 0.25rem;
}

.box-title-pricing {
  border-bottom: 1px solid #CECFD0;
}

.title-pricing {
  font-weight: 600;
  width: 70%;
  margin: 25px auto;
  padding: 8px;
  transition-duration: 0.5s;
}

.pricing {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.ul-pricing {
  list-style: square inside url('../img/section-6/star-pricing.png');
  padding-left: 10px;
  padding-top: 20px;
}

.ul-pricing li {
  padding: 5px 0;
}

.btn-pricing {
  background-color: #FE3A3B;
  color: #FFFFFF;
  width: 85%;
  border-radius: 0.25rem;
  margin-bottom: 20px;
  margin-top: 10px;
}

.btn-pricing:hover {
  color:#FFFFFF
}

.title-member{
  font-weight: 600;
}

.subtitle-member {
  color: #FE3A3B;
}

.icon-member-p {
  background-color: #CECFD0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #7D7E7F;
  height: 40px;
  padding: 10px;
  width: 40px;
  margin: 5px;
}

.icon-member-p:hover {
  background-color: #FE3A3B;
  fill: #FFFFFF;
  
}


.mg-card-offer {
  margin-bottom: 10px;
}

.card-offer {
  background-color: #FFFFFF;
}

.icon-offer {
  background-color: #FE3A3B;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 30px auto 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #FFFFFF;
}
.card-offer:hover {
  background-color: #FE3A3B;
  color: #FFFFFF;
}

.card-offer:hover .icon-offer {
  background-color: #FFFFFF;
  fill: #FE3A3B;
}

.bg-search {
  background: rgb(166,108,108);
  background: linear-gradient(90deg, rgba(166,108,108,1) 0%, rgba(140,80,80,1) 24%, rgba(238,178,178,1) 68%, rgba(159,124,124,1) 100%);
  padding: 50px 0;
}

.bg-galery {
  background-image: url('../img/section-11/bg-galery.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  position: relative;
  height: 1930px;
}

.element-position {
  position: relative;
}


.bg-testimonial {
  background-image: url('../img/section-12/bg-testimonial.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  padding: 50px auto;
  position: relative;
  height: 610px;
}

.bg-opacity {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 19, 36, 0.4);
}

.box-testimonial {
  margin: 180px auto;
  padding: 0;
  position: relative;
}

.img-person-testimonial{
  border: 4px solid #FE3A3B;
  width: 250px;
  height: 250px;
  position: relative;
}

.bg-form {
  background-color: #2e2e2e;
  padding-bottom: 50px;
}

.bg-input-form {
  background-color: #3D3E3F;
  border-color: #7D7E7F;
}

.bg-input-form:focus {
  background-color: #3D3E3F;
  border-color: #FFFFFF;
  color: #FFFFFF;
  box-shadow: none;
}

.copy-footer {
  color: #929394;
  background-color: #18191A;
  padding: 30px ;
}

.box-icon-footer-p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-footer-p {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #929394;
  height: 40px;
  padding: 10px;
  width: 40px;
  margin: 5px;
}

.icon-footer-p:hover {
  background-color: #FE3A3B;
  border-radius: 50%;
  fill: #FFFFFF;
  
}
